@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(green, yellow, blue);;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {                           /*  главный блок (контейнер) */
  margin: 0 auto;
  width: 790px;                       /*  ширина всего чата */
  background: #333333;                /*  само собой фон чата */
  border-radius: 5px;
}

.people-list {                        /* распределяем и выравниваем отдельно список участников  */
  width: 300px;                       /*  ширина списка пользователей */
  float: left;                       /*  расположение списка пользователей */
}

.people-list .search {
  padding: 7px;                      /*  расстояние между пользователями в списке */
}

.people-list input {                   /* форма поиска */
  border-radius: 5px;
  border: 2рх;
  padding: 14px;
  color: yellow;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}

.people-list ul {                     /* отступы списка пользователей от краев чата */
  padding: 20px;
  height: 770px;
}
