@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(green, yellow, blue);;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {                           /*  главный блок (контейнер) */
  margin: 0 auto;
  width: 790px;                       /*  ширина всего чата */
  background: #333333;                /*  само собой фон чата */
  border-radius: 5px;
}

.people-list {                        /* распределяем и выравниваем отдельно список участников  */
  width: 300px;                       /*  ширина списка пользователей */
  float: left;                       /*  расположение списка пользователей */
}
